*.clj
agent/
debugMaximoClasses/
deployment/
docs/
.git
.gitignore
.lein-repl-history
maximo/
scripts/
resources/
workspace/
tools/
test/
*.class
target/classes/
target/stale/
prepare.bat
package.json
null/
src/
Dockerfile
Dockerfile~
.dockerignore
TODO
README
dockerpreparenew/
propspects.txt
clients/